* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.welcome-message {
  max-width: 485px;
  height: 192px;

  /* Theme 2 / Subhead 1 */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  /* identical to box height, or 140% */
  display: flex;
  color: #28352f;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: space-around;
}

.menu-icon {
  margin-right: -91%;
}

.greetingsandsocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 100px;
  position: absolute;
  width: 485px;
  height: 726px;
  left: none;
  top: 92px;
  background-image: url(images/backgroundimage.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.disabled {
  width: 30px;
  height: 30px;
}

.intro1 {
  width: 327px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.intro2 {
  width: 327px;
  height: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.intromessage {
  width: 327px;
  height: 164px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-container {
  width: 170.17px;
  height: 20px;
  order: 2;
  flex-grow: 0;
  list-style-type: none;
}

.fa-twitter {
  position: absolute;
  width: 19.99px;
  height: 20px;
  left: 36.31%;
  right: 51.36%;
  top: 75.83%;
  bottom: 23.42%;
  color: #505f79;
}

.fa-linkedin-in {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 43.31%;
  right: 52.96%;
  top: 75.83%;
  bottom: 23.42%;
  color: #505f79;
}

.fa-m {
  position: absolute;
  width: 17.99px;
  height: 20px;
  left: 50.38%;
  right: 48.29%;
  top: 75.83%;
  bottom: 23.69%;
  color: #505f79;
}

.fa-github {
  position: absolute;
  width: 17.99px;
  height: 20px;
  left: 57.04%;
  right: 40.16%;
  top: 75.83%;
  bottom: 23.42%;
  color: #505f79;
}

.fa-angellist {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 63.91%;
  right: 34.31%;
  top: 75.83%;
  bottom: 23.42%;
  color: #505f79;
}

.recent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 64px 24px;
  gap: 50px;
  position: absolute;
  width: 485px;
  height: 3283px;
  top: 708px;
}

.disabledbutton {
  width: 20px;
  height: 20px;
}

.recent-works {
  width: 327px;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fa-horizontal-rule {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.project-container {
  display: grid;
  grid-template-columns: 364px;
  grid-template-rows: repeat(5, 474px);
  margin-left: 22px;
  margin-right: 26px;
  padding: 4px 2px;
  gap: 1rem;
  width: 364px;
  height: 2972px;
  border-radius: 8px;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #d0d9d4;
  border-radius: 3%;
}

.projectimages {
  width: 364px;
  height: 252px;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 38px;
  height: 222px;
  background: #fff;
  border-radius: 8px;
}

.text-title {
  width: 295px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #3a4a42;
  display: flex;
  align-items: center;
  text-align: center;
}

.technologies {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  justify-content: space-around;
  width: 364px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 8px 12px;
}

.technologies li {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background: #ebf0ee;
  border-radius: 4px;
  width: fit-content;
  font-family: 'Inter', sans-serif;
  padding: 8px 10px;
}

.projectbutton {
  align-items: center;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.03em;
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
  bottom: 15px;
  position: relative;
  border: none;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 364px;
  margin-top: 3850px;
  gap: 30px;
  margin-left: 22px;
  margin-right: 26px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 480px;
  height: 300px;
}

.titleaboutme {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900px;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.aboutmeparagraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 364px;
  text-align: center;
  color: #42526e;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 40px;
  margin-left: 22px;
  margin-right: 26px;
}

.projectbuttonresume {
  align-items: center;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.05em;
  padding: 12px;
  gap: 10px;
  width: 200px;
  height: 50px;
  bottom: 15px;
  font-weight: 550px;
  font-size: 20px;
  position: relative;
  border: none;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.languages,
.frameworks,
.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  width: 364px;
  height: 352px;
  margin-left: 40px;
  margin-right: 26px;
}

.iconlanguages,
.preferredframeworks,
.myskills {
  width: 80px;
  height: 80px;
  background: #ebf0ee;
}

.titlelanguages,
.titleframeworks,
.titleekills {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  align-items: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.languagestechs,
.techframeworks,
.othertechframeworks,
.typeofSkills,
.othertypeofskills {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  letter-spacing: 0.03em;
  color: #36b37e;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  justify-content: space-around;
  width: 305px;
  height: 32px;
  margin-bottom: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.languages li,
.techframeworks li,
.othertechframeworks li,
.typeofSkills li,
.othertypeofskills li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
  padding: 8px 10px;
  width: fit-content;
}

.contactinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 26px;
}

.contactparagraph {
  width: 364px;
  height: 363px;
  text-align: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 30px;
  color: #172b4d;
}

.full-name {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 327px;
  height: 48px;
}

.email-address {
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  background: #fff;
  width: 327px;
  height: 48px;
}

.enter-text {
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  background: #fff;
  width: 327px;
  height: 114px;
}

.get-in-button {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.05em;
  padding: 12px;
  gap: 10px;
  width: 200px;
  height: 50px;
  font-weight: 550px;
  font-size: 20px;
  position: relative;
  border: none;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 40px;
}

.my-email {
  width: 375px;
  height: 189px;
  text-align: center;
  color: #42526e;
  margin-top: 40px;
}

.fa-dash {
  width: 130px;
  height: 4px;
  background: black;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about-social-container {
  position: absolute;
  width: 400.17px;
  height: 20px;
  top: 6250px;
  list-style-type: none;
}
